html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  /* background-image: url('./images/bg-pattern.png'); */
  text-align: center;
  background-color: lightsteelblue;
}
.search-input {
  width: 350px;
  height: 25px;
  padding-left: 10px;
  border-radius: 5px;
  border-color: rgb(187, 181, 181);
  font-size: 15px;
  outline: none;
  box-shadow: 1px 3px 8px -1px #757575;
}
.search-form-message {
  color: brown;
  font-weight: 600;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}
.gallery > .item {
  margin: 10px;
}
.photo-card {
  display: inline-block;
  width: 320px;
  overflow: hidden;
  background-color: ghostwhite;
  box-shadow: 1px 3px 8px -1px #757575;
}
.photo-card-img {
  height: 230px;
  width: 100%;
}
.stats {
  display: flex;
  justify-content: space-evenly;
}
.stats-item {
  display: flex;
}
.material-icons {
  margin-right: 5px;
  color: grey;
}

.btn-more {
  height: 25px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.btn-more.is-hidden {
  display: none;
}
